.navbar {
  text-align: center;
  background: #6d3d6d;

  h1 {
    margin: 0;
  }

  p {
    margin: 0;
    padding: 0 0 10px 0;
  }
}

.book-list {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.book-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.book-list li {
  padding: 10px;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
  list-style: none;
}

.book-list :hover {
  text-decoration: line-through;
}

input[type=text], select, input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 17.25%;
  background-color: #834983;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #522e52;
}
