.main-container {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  margin: 0 0 12px 0;
}

.carousal {
  text-align: center;
  position: relative;
}

.carousal-item {
  display: none;
}

.carousal-item > img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.carousal > button {
  cursor: pointer;
  position: absolute;
  background-color: rgb(14, 12, 4);
  padding: 10px;
  outline: none;
  font-size: 20px;
  border: none;
  color: white;
}

button.prev {
  top: 50%;
  left: 0;
}

button.next {
  top: 50%;
  right: 0;
}

.active {
  display: block;
}

.title {
  display: flex;
  gap: .5rem;
  align-items: baseline;
  justify-content: center;
}
