body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #623762;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin: 20px;
  color: #eee;
}

li {
  cursor: pointer;
  width: fit-content;
}
li::selection {
  background: #F87433;
}
p::selection {
  background: #F87433;
}
div::selection {
  background: #F87433;
}
h6::selection {
  background: #F87433;
}
h5::selection {
  background: #F87433;
}
h4::selection {
  background: #F87433;
}
h3::selection {
  background: #F87433;
}
h2::selection {
  background: #F87433;
}
h1::selection {
  background: #F87433;
}
